.blank {
  width: 100%; height: 100%;
  
  min-width: 320px;
  max-width: 900px;
  background: #FFF;

  align-self: center;
  justify-self: center;

  display: grid;

  grid-template-columns: 100%;
  grid-template-rows: 85% 15%;
}
 .header {
   grid-column: 1;
   grid-row: 1;

   width: 75%; height: 15%;
   justify-self: start;

   display: grid;

   grid-template-columns: 60% 40%;
   grid-template-rows: 100%;

   align-items: center;
 }
  .header>div {
    width: 35%;

    border-bottom: 2px solid #eee;
    padding: 15px 25px;
    display: grid;
  }
   .header>div>span {
     font-family: 'Averia Serif Libre';
     font-weight: 500;
     font-size: 20px;

     line-height: 10px;
     letter-spacing: 2px;
   }

  .header>button {
    width: 100px; height: 40px;
    min-width: 80px; max-width: 100px;

    background: #18e8ff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 6px #05d8f0;

    justify-self: end;
  }
  .header>button:active {
    transform: scale(0.9);
    transition: transform .1s;
  }
   .header>button>span {
     font-family: 'Concert One';
     font-weight: 500;
     font-size: 20px;
     
     letter-spacing: 2.5px;
     color: rgb(213, 253, 255);
   }

 .editor {
   grid-column: 1;
   grid-row: 1;

   width: 80%; height: 365px;

   background: rgb(245, 245, 245);
   border-radius: 10px;
   
   align-self: center;
   justify-self: center;

   display: grid;

   grid-template-columns: 100%;
   grid-template-rows: 85% 15%;
 }

  .input {
    resize: none; outline: none;
    width: 90%; height: 80%;
    
    align-self: center;
    justify-self: center;

    background: none;
    border: none;

    font-family: Dosis;
    font-weight: 600;
    font-size: 16px;

    letter-spacing: 1.5px;
  }
  .input::placeholder {
    font-family: Dosis;
    font-weight: 600;
    font-size: 16px;

    letter-spacing: 2px;
  }

  .editor>div {
    width: 85%; height: 100%;

    justify-self: center;
    display: grid;

    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
  }
   .editPreferences {
     width: 60px; height: 35px;
     background: rgb(235, 235, 235);
     border: none;
     border-radius: 5px;

     transition: transform .1s;
   }

   .editPreferences:active {
     transform: scale(0.9);
     transition: transform .1s;
   }
    .editPreferences>span {
      font-family: Dosis;
      font-weight: 600;
      font-size: 16px;

      letter-spacing: 2px;
    }

   .letterCount {
     width: auto; height: 35px;
     min-width: 100px;
     background: rgb(235, 235, 235);
     border-radius: 5px;

     padding: 0 10px;

     justify-self: end;
     text-align: center;

     display: grid;
     grid-template-columns: auto auto auto;
     grid-template-rows: 100%;

     align-items: center;
     justify-items: center;

     text-align: center;
   }
    .letterCount>span {
      min-width: 10px;
      font-family: Dosis;

      letter-spacing: 2px;
    }

 .footer {
   grid-column: 1;
   grid-row: 2;

   width: 60%; height: 100%;
   
   justify-self: center;

   display: grid;

   grid-template-columns: 40% 60%;
   grid-template-rows: 100%;

   align-items: center;
 }
  .cancel {
    width: 90px; height: 40px;

    background: none;
    border: none;
    border-radius: 5px;

    transition-property: background-color;
    transition-duration: 1s;
  }
  .cancel:hover {
    background: #eee;

    transition-property: background-color;
    transition-duration: 1s;
  }
   .cancel>span {
    font-family: Jura;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 2px;
   }
  
  .button {
    width: 120px; height: 55px;

    background: rgba(255, 238, 0, .8);
    border: none;
    border-radius: 10px;

    justify-self: center;

    transition-property: background-color;
    transition-duration: .5s;
  }
  .button:hover {
    background: rgba(255, 238, 0, 1);

    transition-property: background-color;
    transition-duration: .5s;
  }
  .button:active {
    background: rgba(255, 238, 0, 1);
    transform: scale(0.9);
    
    transition-property: transform;
    transition-duration: .1s;
  }
   .button>span {
    font-family: 'Concert One';
    font-weight: 600;
    font-size: 17px;

    letter-spacing: 3.5px;
    color: #c3a720;
   }
   
   .button-publish {
     grid-column: 2;
     grid-row: 1;

     text-transform: uppercase; 
    }

   .button-set-pref {
     grid-column: 2;
     grid-row: 1;

     text-transform: capitalize; 
   }